.app-bar {
  margin-bottom: 30px;
}

.match-text {
  font-size: 40px;
  font-weight: bold;
}

.match-text-container {
  text-align: center;
}

body {
  background-color: #f7f8f9;
}

.dont-care {
  float: left;
  margin-top: 30px;
}

.important {
  float: right;
  margin-top: 30px;
}

.container {
  margin-bottom: 100px;
}
